<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="info">
     
     <!-- 토탈카운트 -->
     <select id="selectTotalCountOfMyInfo" resultType="int">
     select count(*) from myinfo
     </select>
     
     <!-- insert -->
     <insert id="insertOfMyInfo" parameterType="indto">
     insert into myinfo(name,driver,addr,photo,gaipday) values(#{name},#{driver},#{addr},#{photo},now())
     </insert>
     
<!--      select
     <select id="selectOfMyInfo" resultType="indto">
     select * from myinfo order by num
     </select> -->
     
     <!-- select one  -->
     <select id="selectOneOfMyInfo" resultType="indto" parameterType="String">
     select  * from myinfo where num=#{num}
     </select>
     
     <!--update -->
     <update id="updateOneOfMyInfo" parameterType="indto">
      update myinfo set name=#{name},driver=#{driver},addr=#{addr}
     <if test="photo!=null"> <!--phono가 null 이 아닐경우에 -->
     ,photo=#{photo}
     </if>
     where num=#{num}
     </update>
     <!-- delete -->
     <delete id ="deleteOneOfMyInfo" parameterType="String">
     delete from myinfo where num=#{num}
     </delete>
     
     <!-- 검색리스트 받을게 2개 이상시 map-->
     <select id="selectOfMyInfo" resultType="indto" parameterType="Map">
     select * from myinfo
     <if test="search!=null"> 
     where ${title} like concat ('%',#{search},'%')<!-- 컬럼자체를 의미하는것이라 달러 타이틀 --> <!-- like('*',?,'*') --> <!-- where{검색기준이 될 필드명 } like concat('%',?,'%');-->
     </if>
     order by num asc
     </select>
  </mapper>